@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


*[id].ascrolllink:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

.mbshow{
    display: none;
}
.glad{
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
}
.breif-des{
    font-size: 1rem;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
}

p {
    hyphens: auto
}

.navbar {
    height: 9vh;
}

.txt-int {
    text-indent: 2em;
}
.heythere{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    margin-bottom: 2rem;
    -webkit-text-stroke: .5px black;
    -webkit-text-fill-color: white;
}
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.iconGoTop {
    font-size: 2em;
}

.iconContainer {
    display: flex;
    flex-direction: column-reverse;
}

.divIcon {
    display: flex;
    margin: auto;
}

.intro {
    background-image: url('img/intro-bg4.jpg');
    background-size: 100vw 100vh;
}

.flex-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pt {
    width: 100%;
    height: 100vh;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.highlight {
    font-size: 7vmin;
    background: linear-gradient(to left, #FF00C7 0%, #00c7ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding: 70px 0 70px 0;
    color: #616161;
    position: relative;
}

section:nth-of-type(1) {
    padding: 0 10px;
    color: #fff;
    height: calc(92vh);
}

section:nth-of-type(1) .highlight {
    font-family: 'Raleway-semibold';
}

section:nth-of-type(1) .text {
    margin: 0 0 20px 0;
    font-size: 16pt;
    line-height: 20pt;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

nav {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #000;
    text-align: left;
    z-index: 99;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    z-index: 99;
    font-size: .8em;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: .5em;
    line-height: 80%;
    border-radius: 50%;
    opacity: 0.5;
}

#goToTopBtn:hover {
    background-color: rgb(0, 0, 0);
    opacity: unset;
}

#sticky-footer {
    height: 8vh;
}

@media only screen and (max-width: 991px) {
    [class*="divIcon"] {
        display: flex;
        flex-direction: column;
        width: 0%;
    }
    .divTxt {
        text-align: center;
    }
    .navbar {
        height: unset;
    }
}

.divTxt {
    display: flex;
    font-size: .8em;
    padding-left: .8em;
    flex-direction: column;
    width: 100%;
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
}

@media (max-width: 992px) {
    footer.footer {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    .mbhide{
        display: none;
    }
    .mbshow.highlight{
        display: inline;
        font-size: 30px;
        font-weight: bold;
        background: -webkit-linear-gradient(#eb3349, #ffb88c);
        font-family: 'Raleway-semibold';
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .glad{
        font-size: 32px;
    }
    .im{
     font-size: 18px;   
    }
    footer.footer .social-link {
        display: block;
        height: 2rem;
        width: 2rem;
        line-height: 2.3rem;
        font-size: 1rem;
        background-color: #1D809F;
        transition: background-color 0.15s ease-in-out;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .intro {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('img/intro-bg-mbl.jpg');
        
    }
    

}

.neon-wrapper {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

.txt {
    color: #51E1ED;
    background: #000000;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}

.txt::before {
    content: 'Yoga Durganath';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1px);
}

.neon-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
